

<h3><%=link_to "All Events", events_path %></h3>
<h3><%=link_to "Create Events", new_event_path %></h3>
<h3><%= link_to "Invitations", invitations_path%></h3>
<h3><%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %></h3>
<h2>Events Created</h2>

<ul>

<%@user.created_events.each do |event|%>
    <li><%=link_to event.title, event_path(event)%>
    <%= event.events_date.strftime("%B, %d, %Y") if event.events_date%>
    </li>
<%end%>
</ul>

<% if @user.attended_events.any? %>

    <h2>Upcoming Events: </h2>
<%if @upcoming_events.any?%>
    <ul>
        <% @upcoming_events.each do |event|%>
    <li>
        <%= link_to event.title, event_path(event) %>
        <%= event.events_date.strftime("%B, %d, %Y") if event.events_date %>
    </li>
        <%end%>
    </ul>
<%else%>
    <p>No Upcoming Events.</p>
<%end%>

    <h2>Past Events: </h2>
<% if @past_events.any?%>
    <ul>
        <% @past_events.each do |event|%>
    <li>
        <%= link_to event.title, event_path(event) %>
        <%= event.events_date.strftime("%B, %d, %Y") if event.events_date %>
    </li>
        <%end%>
    </ul>
<%else%>
    <p>No Past Events.</p>
<%end%>

<%else%>
<p>No Events Attended.</p>
<% end%>



