

<h2>Events Created</h2>

<ul>
<%@user.created_events.each do |event|%>
    <li><%=link_to event.title, event_path(event)%>
    <%= event.events_date.strftime("%B, %d, %Y") if event.events_date%>
    </li>
<%end%>
</ul>

<% if @user.attended_events.any? %>
<% upcoming_events = @user.attended_events.where("events_date >= ?", Date.today) %>
<% past_events = @user.attended_events.where("events_date < ?", Date.today) %>

    <h2>Upcoming Events: </h2>
<%if upcoming_events.any?%>
    <ul>
        <% @user.attended_events.each do |event|%>
    <li>
        <%= link_to event.title, event_path(event) %>
        <%= event.events_date.strftime("%B, %d, %Y") if event.events_date %>
    </li>
        <%end%>
    </ul>
<%else%>
    <p>No Upcoming Events.</p>
<%end%>

    <h2>Past Events: </h2>
<% if past_events.any?%>
    <ul>
        <% @user.attended_events.each do |event|%>
    <li>
        <%= link_to event.title, event_path(event) %>
        <%= event.events_date.strftime("%B, %d, %Y") if event.events_date %>
    </li>
        <%end%>
    </ul>
<%else%>
    <p>No Past Events.</p>
<%end%>

<%else%>
<p>No Events Attended.</p>
<% end%>



