
<h2>Update Event</h2>
<h3><%= link_to "Profile", user_path(current_user)%></h3>
<h3><%= link_to "Invitations", invitations_path%></h3>

<%= form_with model: @event do |form|%>
    <div class ="form_field">
        <%= form.label :title%>
        <%= form.text_field :title%>
    </div>
    <div class ="form_field">
        <%= form.label :body%>
        <%= form.text_area :body%>
    </div>
   <div class ="form_field"> 
        <%= form.label :events_date%>
        <%= form.date_field :events_date%>
    </div>
<%= form.submit "Edit Event", class: "submit-button"%>
<%end%>

<%= link_to "Back", events_path%>

<% if user_signed_in? && current_user == @event.creator %>
  <%= button_to "Toggle to #{@event.private_event? ? 'Public' : 'Private'}", 
                toggle_visibility_event_path(@event), 
                method: :patch %>
<% end %>