<h2>All Events</h2>
<h3><%= link_to "Profile", user_path(current_user)%></h3>
<h3><%= link_to "Create Events", new_event_path%></h3>
<h3><%= link_to "Invitations", invitations_path%></h3>
<%if @event.any?%>
    <ul>
    <% @event.each do |event|%>
        <li><%=link_to event.title, event_path(event)%> - <%= event.events_date.strftime("%B, %d, %Y") if event.events_date%> </li>
    <%end%>
    </ul>
<%else%>
    <p>No events yet.</p>
<%end%>


